@import "~@angular/material/prebuilt-themes/indigo-pink.css";
$html-font-size-lg: 16px;
$html-font-size-md: 15px;
$html-font-size-sm: 14px;
$html-font-size-xsm: 13px;
$html-font-size-xs: 12px;
$html-font-size-xxs: 11.5px;
$html-font-size-xxxs: 11px;
body {
  background: #ada996; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #eaeaea,
    #dbdbdb,
    #f2f2f2,
    #ada996
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #eaeaea,
    #dbdbdb,
    #f2f2f2,
    #ada996
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-size: $html-font-size-lg;
  line-height: 23px;
  @media (max-width: 1500px) {
    font-size: $html-font-size-md;
  }

  @media (max-width: 1400px) {
    font-size: $html-font-size-md;
  }

  @media (max-width: 1300px) {
    font-size: $html-font-size-sm;
  }
  @media (max-width: 1200px) {
    font-size: $html-font-size-xs;
  }
  @media (max-width: 1100px) {
    font-size: $html-font-size-xxs;
  }
  @media (max-width: 900px) {
    font-size: $html-font-size-xxxs;
  }
}








