<div class="container-fluid bg-dark" dir="rtl">
  <div class="row align-items-center no-gutters justify-content-start">
    <div class="col-sm-auto app-title font-weight-bold text-right">
      {{ appTitle }}
    </div>
    <div class="col-sm-auto text-right">
      <div class="row align-items-center no-gutters justify-content-start">
        <ng-container *ngFor="let item of this.menue">
          <div class="col-sm-auto">
            <ng-container
              *ngTemplateOutlet="
                item.subItems ? listDropDown : singleDropDown;
                context: { item: item }
              "
            ></ng-container>
          </div>
        </ng-container>
      </div>
    </div>
    <span class="col-auto page-header font-weight-bold">
      {{ currentRoute.title }}
    </span>
  </div>
</div>

<mat-menu #menuRef="matMenu">
  <ng-template matMenuContent let-item="item">
    <a
      [routerLink]="subItem.link"
      mat-menu-item
      [disableRipple]="true"
      *ngFor="let subItem of item.subItems"
    >
      {{ subItem.title }}

      <i [className]="subItem.iconClass" style="margin-right:4px"></i>
    </a>
  </ng-template>
</mat-menu>
<ng-template #singleDropDown let-item="item">
  <a [routerLink]="item.link" class="text-white font-weight-bold menue-item-effect" mat-button>
    {{ item.title }}
    <i [className]="item.iconClass" style="margin-right:4px"></i>
  </a>
</ng-template>
<ng-template #listDropDown let-item="item">
  <button
    class="text-white font-weight-bold menue-item-effect"
    mat-button
    [matMenuTriggerFor]="menuRef"
    [matMenuTriggerData]="{ item: item }"
  >
    {{ item.title }}
    <i [className]="item.iconClass"></i>
  </button>
</ng-template>
