.app-title{
  color:rgb(235, 183, 88);
}
::ng-deep .mat-menu-item {
  line-height: 30px!important;
  height:30px!important;
}
::ng-deep   button.mat-menu-item:focus{
  outline: none!important;
}
.router-link-active{
  color: greenyellow;
}
.page-header{
  color: #FFFFFF;
 // background: #232323;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}
.menue-item-effect{
  color: #FFFFFF;
  background: #333333;
  text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}
